{% load i18n %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" style="white-space: nowrap;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% translate "Ngôn ngữ" %}
    </a>
    <ul class="dropdown-menu">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        {% for lang in languages%}
        <li>
          <a class="dropdown-item" href="/{{ lang.code }}/{{ var }}">
            {{ lang.name_local }}
        </li>
        {% endfor %}
    </ul>
  </li>

